<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kelab.api.dal.dao.ApiAuthMapper">

    <resultMap id="BaseResultMap" type="com.kelab.api.dal.model.ApiAuthModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="description" property="desc" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `url`, `description`
    </sql>

    <select id="queryByUrl" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `Api_auth`
        where `url` = #{url, jdbcType=VARCHAR}
        limit 1
    </select>

</mapper>